.nav {
  height: 4rem;
  display: flex;
  flex-direction: row;
  background-color: #d81b60;
  padding: 0 1rem;
  width: 100%;

  a {
    color: #fafafa;
    line-height: 4rem;
    padding: 0 0.5rem;
    font-weight: 600;
    text-decoration: none;
  }
}
