.form {
  padding: 0;
  margin: 0;

  input,
  textarea {
    width: 100%;
    padding: 0 1rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    line-height: 3rem;
    border: none;
    outline: none;
    border-radius: 4px;
  }

  .info,
  .error {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .info {
    color: #303f9f;
  }

  .error {
    color: #d81b60;
  }

  button {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 3rem;
    color: #fafafa;
    background-color: #303f9f;
    border: none;
    cursor: pointer;
    border-radius: 4px;

    &:disabled {
      color: #e0e0e0;
      background-color: #616161;
      cursor: default;
    }
  }
}
