.post {
  padding: 1rem;
  background-color: #fafafa;

  @media (max-width: 600px) {
    max-width: 100%;
  }

  h2 {
    color: #303f9f;
  }

  p {
    color: #455a64;
  }

  .back {
    color: #d81b60;
    text-decoration: none;
  }
}
